<% content_for :imagen do %>
<div class="row">
  <div class="col-md-10 col-md-offset-2"><%= image_tag "qs.png", :size => "800x100", :class => "img-responsive" %></div>
</div>
<% end %>
<h1><%= @titulo ||= "Curso Ruby on Rails" %></h1>
<h2>Sección Principal</h2>
<h1>Formulario Básico</h1>
<div class="col-md-4">
<% if flash[:noticia] %>
  <p class="bg-success text-success"><%= flash[:noticia] %></p>
<% end %>
<% if flash[:error] %>
  <p class="bg-danger text-danger"><%= flash[:error] %></p>
<% end %>
<%= form_tag "/home/contacto",:method=>"post" do %>
  <div class="form-group">
  <%= label_tag "nombre", "Nombre" %>
  <%= text_field_tag "nombre", nil, :class => "form-control" %>
  </div>
  <div class="form-group">
  <%= label_tag "email", "Email" %>
  <%= text_field_tag "email", nil, :class => "form-control" %>
  </div>
  <div class="form-group">
  <%= label_tag "asunto", "Asunto" %>
  <%= text_field_tag "asunto", nil, :class => "form-control" %>
  </div>
  <div class="form-group">
  <%= label_tag "mensaje", "Mensaje" %>
  <%= text_area_tag "mensaje", nil, :class => "form-control", :size => "25x10" %>
  </div>
  <%= submit_tag "Enviar", :class => "btn btn-primary" %>
<% end %>
</div>