<% content_for :imagen do %>
<div class="row">
  <div class="col-md-10 col-md-offset-2"><%= image_tag "qs.png", :size => "800x100", :class => "img-responsive" %></div>
</div>
<% end %>
<h1>Home#quienes_somos</h1>
<p>Find me in app/views/home/quienes_somos.html.erb</p>
<% if flash[:noticia] %>
  <div><%= flash[:noticia] %></div>
<% end %>
<%= @titulo ||= "Curso Ruby on Rails" %>
<% @nombres.each do |nombre| %>
<p>
<%= nombre.capitalize %>
</p>
<% end %>
Controlador: <%= @controlador %>
Acción: <%= @accion %>
Metodo: <%= @solicitud %>
<br/>
<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>